* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  display: block;
  text-align: center;
}

#title {
  font-size: 48px;
  font-weight: bold;
  font-family: sans-serif, monospace;
  margin: 24px auto;
}

.button {
  font-size: 18px;
  font-style: italic;
  font-family: sans-serif, monospace;
  margin: 12px;
}

#color {
  background: linear-gradient(to right, red, green, blue);
  color: whitesmoke;
}
#reset {
  margin-bottom: 20px;
}

#container {
  max-width: 800px;
  height: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
}
.box {
  flex-grow: 1;
  flex-shrink: 1;
  border-style: dotted;
  border-width: 1px;
}